 a:hover{
     color: #fff !important;
 }
 
 /* HEADER */

 .logo {
    height: 40px;
}

.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
}

.subscribe-Btn {
    background: #11c76f;
    padding-left: 35px !important;
    padding-right: 35px !important;
    border-radius: 35px;
    color: #fff !important;
    margin-left: 20px;
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.subscribe-Btn:hover{
    background: #0d9855;
    padding-left: 35px !important;
    padding-right: 35px !important;
    border-radius: 35px;
    color: #fff !important;
    margin-left: 20px;
    opacity: 1 !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end !important;
}

.nav-item {
    color: #11c76f !important;
}

a .menuitem {
    color:red !important;
}

/* FULL CONTENT SECTION 1 */ 

#first{
    background-image: url(/Assets/imagens/BG.jpg)!important;
    background: center;
    height: 720px;
    background-repeat: no-repeat;
    max-height: 720px;
    background-size: cover;
    display: flex;
    align-items: center;
}

#first h1 {
    text-align: center !important;
    line-height: 54px;
    color: #fff;
    font-size: 44px;
    font-weight: 700;
}

#first .container .row {
    height: 100%;
}

.btnDownload {
    display: flex;
    justify-content: center;
}

.btnDefault {
    background: #0fc76e;
    color: #fff !important;
    display: inline-block;
    font-weight: 600;
    padding: 0 40px;
    text-decoration: none !important;
    transition: all .2s ease-in-out;
    border-radius: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    padding: 0 40px;
    margin-top: 50px;
    text-transform: uppercase;
}

.btnDefault:hover {
    background: #0d9855;
}

/* FULL CONTENT SECTION 2 */ 

#second {
    background-color: #121212;
    padding: 88px 0;
}

#second h3 {
    color: #11c76f;
    font-size: 34px;
}

#second p {
    margin-top: 40px;
    font-size: 19px;
    line-height: 28px;
    color: #fff;
}
